McGenerator.v12.suo
McGenerator/bin/Debug/McGenerator.exe.config
McGenerator/bin/Debug/McGenerator.pdb
McGenerator/bin/Debug/McGenerator.vshost.exe
McGenerator/bin/Debug/McGenerator.vshost.exe.config
McGenerator/bin/Debug/McGenerator.vshost.exe.manifest
McGenerator/obj/

McGenerator/McGenerator.csproj.user
McGenerator/bin/Debug/*.xlsx
